{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "first-nested"
        ],
        "ignoreAtRules": [
          "extend",
          "import"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extend",
          "post"
        ]
      }
    ],
    "block-no-empty": null,
    "comment-empty-line-before": null,
    "declaration-empty-line-before": null,
    "declaration-block-semicolon-newline-after": null,
    "max-nesting-depth": 3,
    "no-descending-specificity": null,
    "number-leading-zero": "never",
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "/^#.*$/"
        ]
      }
    ],
    "rule-empty-line-before": null,
    "string-quotes": "single"
  }
}
