<!DOCTYPE html>
<html>
  <head>
    <meta charSet='utf-8'>
    <meta httpEquiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover'>
    <link rel='icon' href='/favicon.png'>

    <title><%= htmlWebpackPlugin.options.appConf.meta.title %></title>
    <meta name='description' content='<%= htmlWebpackPlugin.options.appConf.meta.description %>'>
    <meta name='keywords' content='<%= htmlWebpackPlugin.options.appConf.meta.keywords %>'>

    <meta property='og:url' content='<%= htmlWebpackPlugin.options.appConf.meta.url %>'>
    <meta property='og:image' content='/og-image.png'>
    <meta property='og:title' content='<%= htmlWebpackPlugin.options.appConf.meta.title %>'>
    <meta property='og:description' content='<%= htmlWebpackPlugin.options.appConf.meta.description %>'>

    <link rel='' href='/manifest.json'>
    <meta name='theme-color' content='#000000'>
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='<%= htmlWebpackPlugin.options.appConf.meta.title %>'>

    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
    <meta name='apple-mobile-web-app-title' content='<%= htmlWebpackPlugin.options.appConf.meta.title %>'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-180x180-precomposed.png' sizes='180x180'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-152x152-precomposed.png' sizes='152x152'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-144x144-precomposed.png' sizes='144x144'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-120x120-precomposed.png' sizes='120x120'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-114x114-precomposed.png' sizes='114x114'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-76x76-precomposed.png' sizes='76x76'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-72x72-precomposed.png' sizes='72x72'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-60x60-precomposed.png' sizes='60x60'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-57x57-precomposed.png' sizes='57x57'>
    <link rel='apple-touch-icon' href='/apple-touch-icon-precomposed.png'>

    <meta name='msapplication-TileImage' content='/apple-touch-icon-144x144-precomposed.png'>
    <meta name='msapplication-TileColor' content='#000000'>
    <meta name='msapplication-config' content='/browserconfig.xml'>
    <meta name='msapplication-navbutton-color' content='#000000'>

    <% if (process.env.NODE_ENV === 'production') { %>
      <% if (htmlWebpackPlugin.options.appConf.ga) { %>
        <script async src='https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.appConf.ga %>'></script>
        <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '<%= htmlWebpackPlugin.options.appConf.ga %>');</script>
      <% } %>
    <% } %>
  </head>
  <body>
    <script>window.__BUILD_NUMBER__='<%= htmlWebpackPlugin.options.appConf.buildNumber %>';</script>
    <div id='app'></div>
  </body>
</html>
